body{
   font-family: Roboto, "Open Sans", sans-serif; 
   margin: 0;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-image: url(./assets/background.jpg);
   background-size: cover;
   flex: 1 1 0px;
}

.second-section,
.third-section{
    padding: 100px 400px;
}
.first-section{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.9);
    padding: 0px 250px;
    padding-bottom: 100px;
    margin-bottom: 0px;
    flex: 1 1 0px;

}
.header{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-size: 18px;
    height: 72px;
    
}
ul{
    display: flex;
    list-style: none;
    gap: 25px;

}
a{
    color:gray;
    text-decoration: none;
}
.first-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    gap: 20px;
    
    

}
.first-first-sub{
    flex-shrink: 0;
    flex: 1 1 0px;
}
.fp-img{
    max-width: 800px;
    max-height: 200px;
}
.first-section-image{
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex: 1 1 0px;

}
.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: white;
}
.hero-secondary-text{
    font-size: 18px;
    color: white;
}
button{
    background-color: #3882F6;
    color: white;
    border-radius: 25px;
    margin: 0px;
    gap: 0px;
    padding: 10px 35px;
    font-weight: bold;
}
.informations{
    max-width: 210px;
    gap: 50px;
}
.second-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 0px;
    flex: 1 1 0px;

}
.info-info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.info-image{
    width: 100px;
    height: 100px;
    border: 3px solid gray;
    border-radius: 25px;
}
.source-info,
.info-text{
    color: black;
}
.source-info{
    font-size: 10px;
}
.info-text,
.sign{
    font-size: 18px;
}
.info-header{
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.third-section{
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    background-color: rgba(0,0,0,0.9);
    color: white;
    font-size: 36px;
    gap: 20px;
}
.quote{
    font-style: italic;
}
.author,
.call{
    text-align: end;
    font-weight: bold;
    
}
.author{
    color: gray;
}
.fourth-section{
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    padding: 0px 0px;
    padding-top: 100px;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: center;
    gap: 50px
}
.box{
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #3882F6;
    margin: 0px 250px;
    padding: 50px;
    border-radius: 25px;
}
.footer{
    text-align: center;
    background-color: rgba(158, 153, 153, 0.9);
    padding: 35px;
    font-size: 18px;
}
.call,
.sign{
    color: white;
}
.call{
    font-size: 36px;
}
.second-sign-up{
    border: 2px solid white;
    
}
.first-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}